<h1>Need a spot?</h1>
<p>Join the fastest growing strength and fitness training community.</p>

<a class="btn btn-default" href="<%= sign_up_path %>" role="button">Join Spotter</a>

<a class="btn btn-default" href="<%= sign_in_path %>" role="button">Sign In</a>